
Muestra las primeras 5 filas del conjunto de datos.

Muestra las últimas 5 filas del conjunto de datos.

Muestra una muestra aleatoria de 5 filas del conjunto de datos.

Muestra el nombre de todas las columnas en el conjunto de datos.

Muestra los valores únicos en la columna "Abbreviation".

In [4]:
import pandas as pd

In [6]:
#Muestra las primeras 5 filas del conjunto de datos.
df=pd.read_csv("PairPrograming.csv")
df
df.head()

,Unnamed: 0,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
0,0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70
1,1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36
2,2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28
3,3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51
4,4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97

In [7]:
#Muestra las últimas 5 filas del conjunto de datos.
df.tail()

,Unnamed: 0,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
190,190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90%,VED,2.27,52.70%,$0.00
191,191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80%,VND,2.05,48.10%,$0.80
192,192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10%,YER,3.79,1.00%,$0.92
193,193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20%,ZMW,4.63,65.20%,$1.40
194,194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90%,NaN,3.62,35.50%,$1.34

In [9]:
#Muestra una muestra aleatoria de 5 filas del conjunto de datos.
df.sample(5)

,Unnamed: 0,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
170,170,Syria,95,SY,75.80%,"185,180","239,000",23.69,963.0,Damascus,"28,830",143.2,36.70%,SYP,2.81,2.70%,$0.83
97,97,Libya,4,LY,8.70%,"1,759,540",0,18.83,218.0,NaN,"50,564",125.71,2.60%,LYD,2.24,0.10%,$0.11
71,71,Guyana,4,GY,8.60%,"214,969","3,000",19.97,592.0,"Georgetown, Guyana","2,384",116.19,2.10%,GYD,2.46,83.90%,$0.90
120,120,Nauru,541,NR,NaN,21,NaN,NaN,674.0,Yaren District,NaN,NaN,NaN,AUD,NaN,NaN,NaN
87,87,Kazakhstan,7,KZ,80.40%,"2,724,900","71,000",21.77,7.0,Astana,"247,207",182.75,5.20%,KZT,2.84,1.20%,$0.42

In [12]:
#Muestra el nombre de todas las columnas en el conjunto de datos.
df.columns

Index(['Unnamed: 0', 'Country', 'Density\n(P/Km2)', 'Abbreviation',
       'Agricultural Land( %)', 'Land Area(Km2)', 'Armed Forces size',
       'Birth Rate', 'Calling Code', 'Capital/Major City', 'Co2-Emissions',
       'CPI', 'CPI Change (%)', 'Currency-Code', 'Fertility Rate',
       'Forested Area (%)', 'Gasoline Price'],
      dtype='object')

In [ ]:
#Muestra los valores únicos en la columna "Abbreviation".
df["Abbreviation"].unique()

In [16]:

#Cuenta cuántas veces aparece cada valor único en la columna "Abbreviation".
df["Abbreviation"].value_counts()

Abbreviation
AF    1
PY    1
NE    1
NG    1
KP    1
     ..
GR    1
GD    1
GT    1
GN    1
ZW    1
Name: count, Length: 188, dtype: int64

In [17]:
#Verifica si hay valores nulos en el conjunto de datos.
df.isnull().sum()

Unnamed: 0                0
Country                   0
Density\n(P/Km2)          0
Abbreviation              7
Agricultural Land( %)     7
Land Area(Km2)            1
Armed Forces size        24
Birth Rate                6
Calling Code              1
Capital/Major City        3
Co2-Emissions             7
CPI                      17
CPI Change (%)           16
Currency-Code            15
Fertility Rate            7
Forested Area (%)         7
Gasoline Price           20
dtype: int64

In [18]:
#Verifica si hay valores no nulos en el conjunto de datos.
df.notnull().sum()

Unnamed: 0               195
Country                  195
Density\n(P/Km2)         195
Abbreviation             188
Agricultural Land( %)    188
Land Area(Km2)           194
Armed Forces size        171
Birth Rate               189
Calling Code             194
Capital/Major City       192
Co2-Emissions            188
CPI                      178
CPI Change (%)           179
Currency-Code            180
Fertility Rate           188
Forested Area (%)        188
Gasoline Price           175
dtype: int64

In [19]:
#Muestra información general sobre el conjunto de datos.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             195 non-null    int64
 1   Country                195 non-null    object
 2   Density
(P/Km2)        195 non-null    object
 3   Abbreviation           188 non-null    object
 4   Agricultural Land( %)  188 non-null    object
 5   Land Area(Km2)         194 non-null    object
 6   Armed Forces size      171 non-null    object
 7   Birth Rate             189 non-null    float64
 8   Calling Code           194 non-null    float64
 9   Capital/Major City     192 non-null    object
 10  Co2-Emissions          188 non-null    object
 11  CPI                    178 non-null    object
 12  CPI Change (%)         179 non-null    object
 13  Currency-Code          180 non-null    object
 14  Fertility Rate         188 non-null    float64
 15  Forested Area (%)      188 non-null    object
 16  Gasoline Price         175 non-null    object
dtypes: float64(3), int64(1), object(13)
memory usage: 26.0+ KB

In [27]:
#Elimina una columna específica (por ejemplo, "Armed Forces size").
df.eliminar=df.drop(columns=["Armed Forces size"], inplace=True)
df.columns

Index(['Unnamed: 0', 'Country', 'Density\n(P/Km2)', 'Abbreviation',
       'Agricultural Land( %)', 'Land Area(Km2)', 'Birth Rate', 'Calling Code',
       'Capital/Major City', 'Co2-Emissions', 'CPI', 'CPI Change (%)',
       'Currency-Code', 'Fertility Rate', 'Forested Area (%)',
       'Gasoline Price'],
      dtype='object')

In [31]:
#Selecciona las columnas numéricas del conjunto de datos y muestra sus estadísticas descriptivas básicas (para esto tendréis
# que usar el método '.describe(), su documentación la tenéis aquí).
df.describe()

       Unnamed: 0  Birth Rate  Calling Code  Fertility Rate
count  195.000000  189.000000    194.000000      188.000000
mean    97.000000   20.214974    360.546392        2.698138
std     56.435804    9.945774    323.236419        1.282267
min      0.000000    5.900000      1.000000        0.980000
25%     48.500000   11.300000     82.500000        1.705000
50%     97.000000   17.950000    255.500000        2.245000
75%    145.500000   28.750000    506.750000        3.597500
max    194.000000   46.080000   1876.000000        6.910000

In [33]:
#Selecciona todas las columnas de las filas 2 a 4 (inclusive) utilizando loc.
df.loc[2:4,:]

,Unnamed: 0,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
2,2,Algeria,18,DZ,17.40%,"2,381,741",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28
3,3,Andorra,164,AD,40.00%,468,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51
4,4,Angola,26,AO,47.50%,"1,246,700",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97

In [34]:
#Utilizando loc, filtra el conjunto de datos para mostrar solo las filas donde la densidad (columna "Birth Rate") 
#es mayor a 30.
df.loc[df["Birth Rate"]>30]

,Unnamed: 0,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
0,0,Afghanistan,60,AF,58.10%,"652,230",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70
4,4,Angola,26,AO,47.50%,"1,246,700",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97
18,18,Benin,108,BJ,33.30%,"112,622",36.22,229.0,Porto-Novo,"6,476",110.71,-0.90%,XOF,4.84,37.80%,$0.72
26,26,Burkina Faso,76,BF,44.20%,"274,200",37.93,226.0,Ouagadougou,"3,418",106.58,-3.20%,XOF,5.19,19.30%,$0.98
27,27,Burundi,463,BI,79.20%,"27,830",39.01,257.0,Bujumbura,495,182.11,-0.70%,BIF,5.41,10.90%,$1.21
28,28,Ivory Coast,83,CI,64.80%,"322,463",35.74,225.0,Yamoussoukro,"9,674",111.61,-0.90%,XOF,4.65,32.70%,$0.93
31,31,Cameroon,56,CM,20.60%,"475,440",35.39,237.0,Yaound�,"8,291",118.65,2.50%,XAF,4.57,39.30%,$1.03
33,33,Central African Republic,8,CF,8.20%,"622,984",35.35,236.0,Bangui,297,186.86,37.10%,NaN,4.72,35.60%,$1.41
34,34,Chad,13,TD,39.70%,"1,284,000",42.17,235.0,N'Djamena,"1,016",117.7,-1.00%,XAF,5.75,3.80%,$0.78
38,38,Comoros,467,KM,71.50%,"2,235",31.88,269.0,"Moroni, Comoros",202,103.62,-4.30%,KMF,4.21,19.70%,NaN
39,39,Republic of the Congo,16,NaN,31.10%,"342,000",32.86,242.0,Brazzaville,"3,282",124.74,2.20%,XAF,4.43,65.40%,$0.97
45,45,Democratic Republic of the Congo,40,CD,11.60%,"2,344,858",41.18,243.0,Kinshasa,"2,021",133.85,2.90%,CDF,5.92,67.20%,$1.49
53,53,Equatorial Guinea,50,GQ,10.10%,"28,051",33.24,240.0,Malabo,"5,655",124.35,1.20%,XAF,4.51,55.50%,NaN
54,54,Eritrea,35,ER,75.20%,"117,600",30.30,291.0,Asmara,711,NaN,NaN,ERN,4.06,14.90%,$2.00
57,57,Ethiopia,115,ET,36.30%,"1,104,300",32.34,251.0,Addis Ababa,"14,870",143.86,15.80%,ETB,4.25,12.50%,$0.75
61,61,Gabon,9,GA,20.00%,"267,667",31.61,241.0,Libreville,"5,321",122.19,2.10%,XAF,3.97,90.00%,$0.92
62,62,The Gambia,239,GM,59.80%,"11,300",38.54,220.0,Banjul,532,172.73,7.10%,GMD,5.22,48.40%,$1.18
69,69,Guinea,53,GN,59.00%,"245,857",36.36,224.0,Conakry,"2,996",262.95,9.50%,GNF,4.70,25.80%,$0.90
70,70,Guinea-Bissau,70,GW,58.00%,"36,125",35.13,245.0,Bissau,293,111.65,1.40%,XOF,4.48,69.80%,NaN
96,96,Liberia,53,LR,28.00%,"111,369",33.04,231.0,Monrovia,"1,386",223.13,23.60%,NaN,4.32,43.10%,$0.80
101,101,Madagascar,48,MG,71.20%,"587,041",32.66,261.0,Antananarivo,"3,905",184.33,5.60%,MGA,4.08,21.40%,$1.11
102,102,Malawi,203,MW,61.40%,"118,484",34.12,265.0,Lilongwe,"1,298",418.34,9.40%,MWK,4.21,33.20%,$1.15
105,105,Mali,17,ML,33.80%,"1,240,192",41.54,223.0,Bamako,"3,179",108.73,-1.70%,XOF,5.88,3.80%,$1.12
108,108,Mauritania,5,MR,38.50%,"1,030,700",33.69,222.0,Nouakchott,"2,739",135.02,2.30%,MRU,4.56,0.20%,$1.13
117,117,Mozambique,40,MZ,63.50%,"799,380",37.52,258.0,Maputo,"7,943",182.31,2.80%,MZN,4.85,48.00%,$0.65
125,125,Niger,19,NE,36.10%,"1,267,000",46.08,227.0,Niamey,"2,017",109.32,-2.50%,XOF,6.91,0.90%,$0.88
126,126,Nigeria,226,NG,77.70%,"923,768",37.91,234.0,Abuja,"120,369",267.51,11.40%,NGN,5.39,7.20%,$0.46
144,144,Rwanda,525,RW,73.40%,"26,338",31.70,250.0,Kigali,"1,115",151.09,3.40%,RWF,4.04,19.70%,$1.17
150,150,S�����������,228,ST,50.70%,964,31.54,239.0,S����,121,185.09,7.90%,STN,4.32,55.80%,NaN
152,152,Senegal,87,SN,46.10%,"196,722",34.52,221.0,Dakar,"10,902",109.25,1.80%,XOF,4.63,42.80%,$1.14
155,155,Sierra Leone,111,SL,54.70%,"71,740",33.41,232.0,Freetown,"1,093",234.16,14.80%,SLL,4.26,43.10%,$1.08
159,159,Solomon Islands,25,SB,3.90%,"28,896",32.44,677.0,Honiara,169,133.06,1.60%,SBD,4.40,77.90%,NaN
160,160,Somalia,25,SO,70.30%,"637,657",41.75,252.0,Mogadishu,645,NaN,NaN,SOS,6.07,10.00%,$1.41
163,163,South Sudan,18,SS,NaN,"644,329",35.01,211.0,Juba,"1,727","4,583.71",187.90%,SSP,4.70,NaN,$0.28
166,166,Sudan,25,SD,28.70%,"1,861,484",32.18,249.0,Khartoum,"20,000","1,344.19",51.00%,SDG,4.41,8.10%,$0.95
171,171,Tajikistan,68,TJ,34.10%,"144,100",30.76,992.0,Dushanbe,"5,310",148.57,6.00%,TJS,3.59,3.00%,$0.71
172,172,Tanzania,67,TZ,44.80%,"947,300",36.70,255.0,Dodoma,"11,973",187.43,3.50%,TZS,4.89,51.60%,$0.87
175,175,Togo,152,TG,70.20%,"56,785",33.11,228.0,Lom�,"3,000",113.3,0.70%,XOF,4.32,3.10%,$0.71
182,182,Uganda,229,UG,71.90%,"241,038",38.14,256.0,Kampala,"5,680",173.87,2.90%,UGX,4.96,9.70%,$0.94
192,192,Yemen,56,YE,44.60%,"527,968",30.45,967.0,Sanaa,"10,609",157.58,8.10%,YER,3.79,1.00%,$0.92
193,193,Zambia,25,ZM,32.10%,"752,618",36.19,260.0,Lusaka,"5,141",212.31,9.20%,ZMW,4.63,65.20%,$1.40
194,194,Zimbabwe,38,ZW,41.90%,"390,757",30.68,263.0,Harare,"10,983",105.51,0.90%,NaN,3.62,35.50%,$1.34

In [35]:
#Utilizando loc selecciona las columnas "Country" y "Capital/Major City" de las filas donde el porcentaje 
#de tierra agrícola (columna "Fertility Rate") es superior al 3
df.loc[df["Fertility Rate"]>3],["Country","Capital/Major City" ]

(     Unnamed: 0                           Country Density\n(P/Km2)  \
 0             0                       Afghanistan               60
 2             2                           Algeria               18
 4             4                            Angola               26
 18           18                             Benin              108
 26           26                      Burkina Faso               76
 27           27                           Burundi              463
 28           28                       Ivory Coast               83
 31           31                          Cameroon               56
 33           33          Central African Republic                8
 34           34                              Chad               13
 38           38                           Comoros              467
 39           39             Republic of the Congo               16
 45           45  Democratic Republic of the Congo               40
 51           51                             Egypt              103
 53           53                 Equatorial Guinea               50
 54           54                           Eritrea               35
 57           57                          Ethiopia              115
 61           61                             Gabon                9
 62           62                        The Gambia              239
 65           65                             Ghana              137
 69           69                            Guinea               53
 70           70                     Guinea-Bissau               70
 80           80                              Iraq               93
 82           82                            Israel              400
 88           88                             Kenya               94
 89           89                          Kiribati              147
 91           91                        Kyrgyzstan               34
 95           95                           Lesotho               71
 96           96                           Liberia               53
 101         101                        Madagascar               48
 102         102                            Malawi              203
 105         105                              Mali               17
 107         107                  Marshall Islands              329
 108         108                        Mauritania                5
 111         111    Federated States of Micronesia              784
 117         117                        Mozambique               40
 119         119                           Namibia                3
 125         125                             Niger               19
 126         126                           Nigeria              226
 131         131                          Pakistan              287
 135         135                  Papua New Guinea               20
 144         144                            Rwanda              525
 148         148                             Samoa               70
 150         150                      S�����������              228
 152         152                           Senegal               87
 155         155                      Sierra Leone              111
 159         159                   Solomon Islands               25
 160         160                           Somalia               25
 163         163                       South Sudan               18
 166         166                             Sudan               25
 171         171                        Tajikistan               68
 172         172                          Tanzania               67
 174         174                        East Timor               89
 175         175                              Togo              152
 176         176                             Tonga              147
 182         182                            Uganda              229
 189         189                           Vanuatu               25
 192         192                             Yemen               56
 193         193                            Zambia               25
 194         194                          Zimbabwe               38

     Abbreviation Agricultural Land( %) Land Area(Km2)  Birth Rate  \
 0             AF                58.10%        652,230       32.49
 2             DZ                17.40%      2,381,741       24.28
 4             AO                47.50%      1,246,700       40.73
 18            BJ                33.30%        112,622       36.22
 26            BF                44.20%        274,200       37.93
 27            BI                79.20%         27,830       39.01
 28            CI                64.80%        322,463       35.74
 31            CM                20.60%        475,440       35.39
 33            CF                 8.20%        622,984       35.35
 34            TD                39.70%      1,284,000       42.17
 38            KM                71.50%          2,235       31.88
 39           NaN                31.10%        342,000       32.86
 45            CD                11.60%      2,344,858       41.18
 51            EG                 3.80%      1,001,450       26.38
 53            GQ                10.10%         28,051       33.24
 54            ER                75.20%        117,600       30.30
 57            ET                36.30%      1,104,300       32.34
 61            GA                20.00%        267,667       31.61
 62            GM                59.80%         11,300       38.54
 65            GH                69.00%        238,533       29.41
 69            GN                59.00%        245,857       36.36
 70            GW                58.00%         36,125       35.13
 80            IQ                21.40%        438,317       29.08
 82            IL                24.60%         20,770       20.80
 88            KE                48.50%        580,367       28.75
 89            KI                42.00%            811       27.89
 91            KG                55.00%        199,951       27.10
 95            LS                77.60%         30,355       26.81
 96            LR                28.00%        111,369       33.04
 101           MG                71.20%        587,041       32.66
 102           MW                61.40%        118,484       34.12
 105           ML                33.80%      1,240,192       41.54
 107           MH                63.90%            181       29.03
 108           MR                38.50%      1,030,700       33.69
 111           FM                31.40%            702       22.82
 117           MZ                63.50%        799,380       37.52
 119          NaN                47.10%        824,292       28.64
 125           NE                36.10%      1,267,000       46.08
 126           NG                77.70%        923,768       37.91
 131           PK                47.80%        796,095       28.25
 135           PG                 2.60%        462,840       27.07
 144           RW                73.40%         26,338       31.70
 148           WS                12.40%          2,831       24.38
 150           ST                50.70%            964       31.54
 152           SN                46.10%        196,722       34.52
 155           SL                54.70%         71,740       33.41
 159           SB                 3.90%         28,896       32.44
 160           SO                70.30%        637,657       41.75
 163           SS                   NaN        644,329       35.01
 166           SD                28.70%      1,861,484       32.18
 171           TJ                34.10%        144,100       30.76
 172           TZ                44.80%        947,300       36.70
 174           TL                25.60%         14,874       29.42
 175           TG                70.20%         56,785       33.11
 176           TO                45.80%            747       24.30
 182           UG                71.90%        241,038       38.14
 189           VU                15.30%         12,189       29.60
 192           YE                44.60%        527,968       30.45
 193           ZM                32.10%        752,618       36.19
 194           ZW                41.90%        390,757       30.68

      Calling Code Capital/Major City Co2-Emissions       CPI CPI Change (%)  \
 0            93.0              Kabul         8,672     149.9          2.30%
 2           213.0            Algiers       150,006    151.36          2.00%
 4           244.0             Luanda        34,693    261.73         17.10%
 18          229.0         Porto-Novo         6,476    110.71         -0.90%
 26          226.0        Ouagadougou         3,418    106.58         -3.20%
 27          257.0          Bujumbura           495    182.11         -0.70%
 28          225.0       Yamoussoukro         9,674    111.61         -0.90%
 31          237.0            Yaound�         8,291    118.65          2.50%
 33          236.0             Bangui           297    186.86         37.10%
 34          235.0          N'Djamena         1,016     117.7         -1.00%
 38          269.0    Moroni, Comoros           202    103.62         -4.30%
 39          242.0        Brazzaville         3,282    124.74          2.20%
 45          243.0           Kinshasa         2,021    133.85          2.90%
 51           20.0              Cairo       238,560    288.57          9.20%
 53          240.0             Malabo         5,655    124.35          1.20%
 54          291.0             Asmara           711       NaN            NaN
 57          251.0        Addis Ababa        14,870    143.86         15.80%
 61          241.0         Libreville         5,321    122.19          2.10%
 62          220.0             Banjul           532    172.73          7.10%
 65          233.0              Accra        16,670    268.36          7.20%
 69          224.0            Conakry         2,996    262.95          9.50%
 70          245.0             Bissau           293    111.65          1.40%
 80          964.0            Baghdad       190,061    119.86          0.40%
 82          972.0          Jerusalem        65,166    108.15          0.80%
 88          254.0            Nairobi        17,910    180.51          4.70%
 89          686.0       South Tarawa            66     99.55          0.60%
 91          996.0            Bishkek         9,787    155.68          1.10%
 95          266.0             Maseru         2,512    155.86          5.20%
 96          231.0           Monrovia         1,386    223.13         23.60%
 101         261.0       Antananarivo         3,905    184.33          5.60%
 102         265.0           Lilongwe         1,298    418.34          9.40%
 105         223.0             Bamako         3,179    108.73         -1.70%
 107         692.0             Majuro           143       NaN            NaN
 108         222.0         Nouakchott         2,739    135.02          2.30%
 111         691.0            Palikir           143     112.1          0.50%
 117         258.0             Maputo         7,943    182.31          2.80%
 119         264.0           Windhoek         4,228    157.97          3.70%
 125         227.0             Niamey         2,017    109.32         -2.50%
 126         234.0              Abuja       120,369    267.51         11.40%
 131          92.0          Islamabad       201,150    182.32         10.60%
 135         675.0       Port Moresby         7,536    155.99          3.60%
 144         250.0             Kigali         1,115    151.09          3.40%
 148         685.0               Apia           246    117.56          1.00%
 150         239.0              S����           121    185.09          7.90%
 152         221.0              Dakar        10,902    109.25          1.80%
 155         232.0           Freetown         1,093    234.16         14.80%
 159         677.0            Honiara           169    133.06          1.60%
 160         252.0          Mogadishu           645       NaN            NaN
 163         211.0               Juba         1,727  4,583.71        187.90%
 166         249.0           Khartoum        20,000  1,344.19         51.00%
 171         992.0           Dushanbe         5,310    148.57          6.00%
 172         255.0             Dodoma        11,973    187.43          3.50%
 174         670.0               Dili           495    145.38          2.60%
 175         228.0               Lom�         3,000     113.3          0.70%
 176         676.0           Nuku����           128    121.09          7.40%
 182         256.0            Kampala         5,680    173.87          2.90%
 189         678.0          Port Vila           147    117.13          2.80%
 192         967.0              Sanaa        10,609    157.58          8.10%
 193         260.0             Lusaka         5,141    212.31          9.20%
 194         263.0             Harare        10,983    105.51          0.90%

     Currency-Code  Fertility Rate Forested Area (%) Gasoline Price
 0             AFN            4.47             2.10%         $0.70
 2             DZD            3.02             0.80%         $0.28
 4             AOA            5.52            46.30%         $0.97
 18            XOF            4.84            37.80%         $0.72
 26            XOF            5.19            19.30%         $0.98
 27            BIF            5.41            10.90%         $1.21
 28            XOF            4.65            32.70%         $0.93
 31            XAF            4.57            39.30%         $1.03
 33            NaN            4.72            35.60%         $1.41
 34            XAF            5.75             3.80%         $0.78
 38            KMF            4.21            19.70%            NaN
 39            XAF            4.43            65.40%         $0.97
 45            CDF            5.92            67.20%         $1.49
 51            EGP            3.33             0.10%         $0.40
 53            XAF            4.51            55.50%            NaN
 54            ERN            4.06            14.90%         $2.00
 57            ETB            4.25            12.50%         $0.75
 61            XAF            3.97            90.00%         $0.92
 62            GMD            5.22            48.40%         $1.18
 65            GHS            3.87            41.20%         $0.92
 69            GNF            4.70            25.80%         $0.90
 70            XOF            4.48            69.80%            NaN
 80            IQD            3.67             1.90%         $0.61
 82            ILS            3.09             7.70%         $1.57
 88            KES            3.49             7.80%         $0.95
 89            AUD            3.57            15.00%            NaN
 91            KGS            3.30             3.30%         $0.56
 95            NaN            3.14             1.60%         $0.70
 96            NaN            4.32            43.10%         $0.80
 101           MGA            4.08            21.40%         $1.11
 102           MWK            4.21            33.20%         $1.15
 105           XOF            5.88             3.80%         $1.12
 107           USD            4.05            70.20%         $1.44
 108           MRU            4.56             0.20%         $1.13
 111           USD            3.05            91.90%            NaN
 117           MZN            4.85            48.00%         $0.65
 119           NaN            3.40             8.30%         $0.76
 125           XOF            6.91             0.90%         $0.88
 126           NGN            5.39             7.20%         $0.46
 131           PKR            3.51             1.90%         $0.79
 135           PGK            3.56            74.10%         $1.36
 144           RWF            4.04            19.70%         $1.17
 148           WST            3.88            60.40%         $0.91
 150           STN            4.32            55.80%            NaN
 152           XOF            4.63            42.80%         $1.14
 155           SLL            4.26            43.10%         $1.08
 159           SBD            4.40            77.90%            NaN
 160           SOS            6.07            10.00%         $1.41
 163           SSP            4.70               NaN         $0.28
 166           SDG            4.41             8.10%         $0.95
 171           TJS            3.59             3.00%         $0.71
 172           TZS            4.89            51.60%         $0.87
 174           USD            4.02            45.40%         $1.10
 175           XOF            4.32             3.10%         $0.71
 176           TOP            3.56            12.50%            NaN
 182           UGX            4.96             9.70%         $0.94
 189           VUV            3.78            36.10%         $1.31
 192           YER            3.79             1.00%         $0.92
 193           ZMW            4.63            65.20%         $1.40
 194           NaN            3.62            35.50%         $1.34   ,
 ['Country', 'Capital/Major City'])

In [37]:
#Selecciona todas las filas de las columnas 0 a 4 (excluyendo la columna 4) utilizando iloc.
df.iloc[ : , :3]

     Unnamed: 0      Country Density\n(P/Km2)
0             0  Afghanistan               60
1             1      Albania              105
2             2      Algeria               18
3             3      Andorra              164
4             4       Angola               26
..          ...          ...              ...
190         190    Venezuela               32
191         191      Vietnam              314
192         192        Yemen               56
193         193       Zambia               25
194         194     Zimbabwe               38

[195 rows x 3 columns]

In [38]:
#Encuentra el valor en la fila 2 y columna 7 utilizando iloc.
df.iloc[2 , 7]

213.0

In [40]:
#Selecciona todas las filas para las columnas 0, 2, y 5 utilizando iloc.
df.iloc[ : , [0,2,5]]

     Unnamed: 0 Density\n(P/Km2) Land Area(Km2)
0             0               60        652,230
1             1              105         28,748
2             2               18      2,381,741
3             3              164            468
4             4               26      1,246,700
..          ...              ...            ...
190         190               32        912,050
191         191              314        331,210
192         192               56        527,968
193         193               25        752,618
194         194               38        390,757

[195 rows x 3 columns]

In [45]:
#Encuentra el valor de "Gasoline Price" para el país cuya abreviatura es "AL" utilizando loc.
df.loc[df["Abbreviation"]=="AL","Gasoline Price"]

1    $1.36
Name: Gasoline Price, dtype: object

In [46]:
#Selecciona todas las columnas para el país cuya capital es "Tirana" utilizando loc.
df.loc[df["Capital/Major City"]=="Tirana"]

,Unnamed: 0,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
1,1,Albania,105,AL,43.10%,"28,748",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36

In [ ]:

#Filtra el conjunto de datos para mostrar solo las filas donde el índice de CPI (columna "CPI") sea igual a 128.85.